/* Universal Styles */

body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", sans-serif;
  color: #4A4A4A;
  background-color: #F3F5F5;
}


/* Header */

header {
  background-color: white;
  height:64px;
  display: flex;
}

header .brand {
  display: flex;
  margin: auto;
  margin-left: 0px;
}

header .brand .icon {
  margin-left: 24px;
}

header .brand .name {
  text-transform: uppercase;
  font-size: 1.25em;
}

header .brand .part-1 {
  font-weight: bold;
}

header .brand .part-2 {
  color: #9B9B9B;
}


 nav ul {
  display: flex;
  float: right;
}

nav ul li {
  display: block;
  margin-right: 16px;
  text-transform: capitalize;
}

section#hero {
  background-color: #D8D8D8;
  display: flex;
  }

#hero .hero-image {
  width: 60%;
  margin: 32px;
  margin-left: 24px;
  margin-right: 40px;
}

#hero .hero-cta {
  margin: auto;
  padding-right: 24px;
}

#hero .hero-heading {
  padding-bottom: 50px; /*need to determine what i need to do to move this up closer to the top */
  font-size: 2.5em;
  font-weight: bold;
}

#hero .hero-description {
  font-size: 1.25em;
  padding-bottom: 30px;
  padding-top: 30px;
}

#hero .hero-button {
  width: 100%;
  padding: 8px 0px;
  color: white;
  background-color: #4A4A4A;
  border: none;
  text-transform: capitalize;
}

/* section #blog */

#blog .blog-section {
  display: flex;
  flex-direction: row;
}

#blog .blog-part1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#blog .blog-practicing-image {
  width: 60%;
  height: 57%;
  margin: 32px;
  margin-left: 24px;
  margin-right: 24px;

}

#blog .blog-heading {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 24px;
  padding-left: 24px;
}

#blog .blog-review {
  font-size: 1em;
  width: 60%;
  padding-bottom: 24px;
  padding-left: 24px;
}

#blog .blog-reviewer-info {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 24px;
  padding-left: 24px;
}


#blog .blog-part2 {
  display: flex;
  margin-left: 34px;
  height: 50%;
  width: 423px;
  flex-direction: row;
  float: right;
  flex-direction: 1;
}

#blog .blog-orientation-img{


}

#blog .blog-orientation-heading {


}

#blog .blog-orientation-description {

}

#blog .blog-orientation-btn {

}
